POSTGRES_DB=atlanticcity
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password

RABBITMQ_USER=your_user
RABBITMQ_PASSWORD=your_password

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_FROM=no-reply@example.com
